@media (max-width:759px) {
	.two-col-section{
		transform: translateY(0);
	}
	.header_unorderlist{
		display: none;
	}
	.header_anchor{
		display:block;
	}
	.banner-content .sub-heading{
    color: white;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 20px;
}
}

@media (max-width:670px) {
	.two-col-inner{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		padding: 30px 0 ;
	}

}

@media screen and (max-width:575px) {
 .banner-content{
	position: static;
	transform: none;
 }
 .banner-content .sub-heading{
		color: #000;
		font-weight: 300;
		font-size: 33px;
        padding-top: 10px;
        text-align: left;
	 }
	 .banner-content p{
		color: gainsboro;
		line-height: 30px;
		font-weight: 400;
		font-size: 17px;
		padding-bottom: 27px;
	 }
	 .banner-content .btn-1{
		margin-bottom: 20px;
	 }
	 .btn-secondary{
		color: #000;
		margin-top: 10px;
	 }
	 .process-inner{
        display:grid;
        grid-template-columns:repeat(1,1fr)!important;
        margin: auto;
		gap: 20px;

     }
	 .services-inner{
		display: grid;
		grid-template-columns: repeat(1,1fr)!important;
		gap: 20px;
	 }
	 .footer-inner{
		display: grid;
		grid-template-columns:repeat(1 , 1fr)!important;
		gap: 20px
	 }
	.ri-menu-line{
		color: red;
	}
	.div{
		display: none;
	   }

	   .content-swiper h3 {
    color: whitesmoke;
    font-weight: 400;
    padding: 20px 30px;
    font-size: 21px;
    max-width: 700px;
    line-height: 30px;

}
}

@media (max-width:834px) {


    /* NAVIGATION */

    nav li{
        display: none;
    }
    .process-inner{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        margin: auto;;

     }
	  .services-inner{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        margin: auto;;

     }
    .button{
        margin-bottom: 30px;
    }
	.Group-img img{
		display: none!important;
	}
}



@media (max-width:435px) {
    .btn{
        display: none;
    }
	.header_unorderlist {
        display: none;
        position: absolute;
        top: 117px;
        left: 0;
        width: 100%;
        background-color:whitesmoke;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        z-index: 999;
    }
    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
    }
    .header .menu-btn:checked ~ .header_unorderlist {
        display:
    }
    .header .menu-icon {
        display: inline-block;
        color: white;
		display: none;
    }
	.header_inner{
		padding: 0;
	}
    .header-a{
        color: whitesmoke;
    }
	.header{
		position: inherit;
		position: fixed;
		background-color: white;
	}
    .header_logos_image{
        display:none;
    }
    .header_logo_image{
        display: block;
    }
    .mini_header{
        display: none;
    }
    .header_options_a{
        color:black;
    }
    .header_anchor{
        background-color:whitesmoke;
		display: none;

    }
    .header .menu-icon .navicon {
        background:black;
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background:black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    header{
		background-color: white;
	}
	.d-logo{
		display: block;
	}
	.logo{
		display: none;
	}
	 .menu-btn {
      right: 25px;
	  color: black;
   }
   .btn{
	display: block;


   }
   .btn span{
	background-color: black;
   }

    .show {
        display: block;
        width: 100%;
        position: absolute;
        top: 110%;
        right: 0;
        z-index: 999;
    }
	li.btn-menu {
    border: 1px solid black;
    display: inline-block;
    padding: 0 20px;
    border-radius: 30px;
	/* display: flow; */
	margin-bottom: 20px;


}
	.menu{
	transform: translate(0);
	background-color: rgba(236, 236, 236, 0.907);
	padding: 0 30px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

	}
	.menu li a{
		color:black;
		padding: 20px 10px;
	}

.pro-title {
    text-align: left;
    padding-bottom: 60px;
}

}
/* BANNER */


	#banner.img{
		order: 2;
		display:flex;
	}
	#banner.content{
		order: 1;
		display: flex;
	}
	 .logo-light{
		display: none;
	 }
	 .dark-logo{
		display: block;
	 }
	 .navigation{
		background-color: transparent;
	 }
	.banner-img{
		background:rgb(0,0,0,0.2);
		 background-size:cover;
		padding:0;
       position: static;
		background-blend-mode:darken;

	 }
	 .banner-content h1{
		color: #000;
		font-weight: 300;
	 }
	 .banner-content p{
		color: gainsboro;
		line-height: 30px;
		font-weight: 400;
	 }
	 .banner-content .btn-1{
		margin-bottom: 20px;
	 }
	 .btn-2{
		color: #000;
	 }
	 .banner{

		height: 100%;
	}







@media (max-width:960px) {
    .our-story-inner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
     }

	 .services-inner{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 20px
	 }

	.get-in{
        display: flex;
        flex-direction: column;

    }
    .mapin{
        margin-left: 0;
    }
.shape-img {
        position: absolute;
        left: 0;
        top: -151px;
        /* height: 100vh; */
    }
}

@media (max-width: 574px) {
    .shape-img {
        position: absolute;
        left: -146px;
        top: -34px;
        /* height: 100vh; */
    }
}

@media (max-width:320px) {
	.two-content h3 {
		color: whitesmoke;
		padding-bottom: 20px;
		font-size: 20px;
		font-weight: 400;
		text-align: center;
	}
	.our-story-content h3 {

    font-size: 40px;

}
.footer-items h3 {
    font-size: 32px;
    font-weight: 500;
    color: whitesmoke;
    padding-bottom: 23px;
}
}

@media screen and (max-width: 768px) {
  .our-story-inner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  .our-story-content{
	padding-bottom: 30px;
  }
  .footer-inner{
	display: flex;
	flex-direction: column;
  }
  .shape-img{
	bottom: 0;
  }
}