  @media (max-width: 600px) {
            .form-grid {
                grid-template-columns: 1fr;
            }
            .full-width {
                grid-column: span 1;
            }
}

@media (max-width:935px) {
    .process-inner{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
    }
     .footer-inner{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
        text-align: left;
    }
    .shape-img {
    position: absolute;
    bottom:0;
    top: 0;
    object-fit: cover;
}
}

@media (max-width:639px) {
    .process-inner{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
        text-align: left;
    }
    .pro-title{
        text-align: left;
    }
    .footer-inner{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
        text-align: left;
    }

}

@media (max-width:726px) {
    .btn-1{
        margin-top: 20px;
    }
    .header_unorderlist li{
        display: none;
    }
    .btn-primary{
        margin-bottom: 30px;
    }
    .shapes-img{
        display: none;
    }
}
@media (max-width:521px) {
    .btn-secondary{
        margin-bottom: 30px;
    }
}
@media (max-width:594px) {
   .div{
    display: none;
   }
}
@media (max-width:381px) {
    .title h1 {
    text-align: left;
    font-size: 25.3px;
    color: #515A68;
    font-weight: 500;
    word-spacing: 4px;
    letter-spacing: 4px;
}
.que-items ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

}
.que-items li{
       padding: 20px 0;
}

.form-title h2 {
    text-align: left;
    font-size: 25px;
    color: #515A68;
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: 2px;
}
.btn-1 {
    margin: 19px 30px;
    color: whitesmoke;
    background-color: #515A68;
    padding: 10px 17px;
    border-radius: 20px;
    font-size: 15px;
}
}


@media (max-width:320px) {
   .que-items{
    margin: 0;
   }
}
@media (max-width:435px) {
    .btn{
        display: none;
    }
	.header_unorderlist {
        display: none;
        position: absolute;
        top: 117px;
        left: 0;
        width: 100%;
        background-color:whitesmoke;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        z-index: 999;
    }
    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
        display: block;
    }
    .header .menu-btn:checked ~ .header_unorderlist {
        display: flex;
    }
    .header .menu-icon {
        display: inline-block;
        color: white;
    }
    .header-a{
        color: whitesmoke;
    }
    .header_logos_image{
        display:none;
    }
    .header_logo_image{
        display: block;
    }
    .mini_header{
        display: none;
    }
    .header_options_a{
        color:black;
    }
    .header_anchor{
        background-color:whitesmoke;
		display: none;

    }
    .header .menu-icon .navicon {
        background:black;
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background:black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    header{
		background-color: azure;
	}
	.d-logo{
		display: block;
	}
	.logo{
		display: none;
	}




	/* 123 */
	#banner.img{
		order: 2;
		display:flex;
	}
	#banner.content{
		order: 1;
		display: flex;
	}
	 .logo-light{
		display: none;
	 }
	 .dark-logo{
		display: block;
	 }
	 .navigation{
		background-color: transparent;
	 }
	.banner-img{
		background:rgb(0,0,0,0.2);
		 background-size:cover;
		padding:0;

		position: static;
		background-blend-mode:darken;

	 }
	 .banner-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: static;
		top: 0;
		left: 0;
		margin: auto;
		transform: translate(0,0);

	 }
	 .banner-content h1{
		color: #000;
		font-weight: 300;
	 }
	 .banner-content p{
		color: gainsboro;
		line-height: 30px;
		font-weight: 400;
	 }
	 .banner-content .btn-1{
		margin-bottom: 20px;
	 }
	 .btn-2{
		color: #000;
	 }
	 .banner{

		height: 100%;
	}


}