*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-color:#515A68;
    --theme-green:#BDE0D3;
    --theme-white:#fff;
}
.container{
    max-width: 1720px;
    padding: 0 20px;
    margin: 0 auto;
}
body{
      font-family: 'Rounded Mplus 1c';
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style:none;
}
.d-none{
    display: none;
 }
 .d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}



/* HEADER */

.div{
   background-color: #515A68;
   padding: 10px 0;
}
.div li{
   color: white;
   margin-left: 10px;
}
.top-left-section a{
   color: var(--theme-white);
   margin: 0 10px 0 0;
   font-size: 15px;
   transition:0.3s all ease-in-out
}
.top-left-section a:hover{
  color: var(--theme-green);
   transition:0.3s all ease-in-out
}
.top-icons  img{
   color:white;
   padding: 0 10px;
}
.top-icons img:hover{
   transform: scale(1.1);
}
.header_inner{
    display: flex;
    justify-content: space-between;
 align-items: center;
    /* padding: 30px 0; */
 }
 .header{
    padding: 10px 0;
    /* background-color: whitesmoke; */
 }
 .header_unorderlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
 }
 .header-icons a{
   display: none;
}
 .header_logos_image{
    display: none;
 }
.header_options_a {
    color: var(--theme-black);
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}
.header_options_a:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
}
 .header_anchor{
    color: black;
    font-weight: 500;
    background-color:white;
    border: 2px solid grey;
    padding: 15px 30px;
    border-radius: 25px;
    transition: 0.3s all ease-in-out;

 }
 .header_anchor:hover{
   background-color: var(--theme-green);
      transition: 0.3s all ease-in-out;

 }
 .header .menu-btn {
    display: none;
 }
 .header .menu-btn:checked ~ .menu {
    max-height: 240px;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
 }
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
 }
 .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: none;
 }
 .header .menu-icon .navicon {
    background: var(--theme-black);
    display: block;
    height: 2px;
    position: relative;
    transition: background 1s ease-out;
    width: 18px;
 }
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
    background: var(--theme-black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 1s ease-out;
    width: 100%;
 }
 .header .menu-icon .navicon:before {
    top: 5px;
 }
 .header .menu-icon .navicon:after {
    top: -5px;
 }
 .header-inner{

 }

.btn-primary{
    padding: 15px 45px;
    border: 1px solid black;
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
   color: black;
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;
    margin-right: 20px;


}
.btn-primary:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-green);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-primary:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
    border: 1px solid transparent;
}
.btn-primary:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}

.button .btn-info{
   margin-right: 20px;
}
.btn-info{
    padding: 15px 45px;
    margin-right: 20px;
    background-color: var(--theme-green);
   color: #000;
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
   color: var(--theme-black);
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;
     white-space: nowrap;


}
.btn-info:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-white);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-info:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
    border: 1px solid black;
}
.btn-info:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}


/* GET A QUESTIONS */

.Group-img{
 position: absolute;
top: 0;
z-index: -1;
/* height:900px; */
right:0;
}
.title{
    padding: 40px 0;
}
 .title h1{
    text-align: center;
    font-size: 50px;
    color: #515A68;
    font-weight: 500;
    word-spacing: 4px;
    letter-spacing: 4px;
    transition: 0.4s all ease-in-out;
    cursor: pointer;

 }
  .title h1:hover{
   color: #BDE0D3;
   transition: 0.4s all ease-in-out;
  }
 .que-items{
    margin: 50px 0;
 }
 .que-items ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
 }
  .que-items i{
    color: #000;
    background-color: #BDE0D3;
   padding: 30px;
   display: inline-block;
   border-radius: 50%;
   font-size: 27px;
   margin-bottom: 20px;
  line-height: 100px;
   transition: 0.3s all ease-in-out;


  }
  .que-items a{
   border: 1px solid transparent;
    width: 100px;
   height: 100px;
   line-height: 80px;


  }
  .que-items a:hover{
   background-color: var(--theme-white);
   border: 1px solid black;
     transition: 0.3s all ease-in-out;
  }
  .que-items h4{
     color: #515A68;
     font-weight: 400;
     font-size: 22px;
  }
  .add{
    max-width: 200px;
  }
  .get{
    text-align: center;
    margin: 40px 0;
  }
  .get a{
    border-bottom: 2px solid #515A68;
    color:#515A68 ;
  }



  /* FORM */

  .form{
    padding: 60px 0;
  }
  .inputs{
    margin:7px 0;
  }
  .form-title h2{
    text-align: center;
    font-size: 36px;
    color: #515A68;
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: 2px;
    cursor: pointer;
  }
  .form-title h2:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
  }
.form-title {
   text-align: center;
   margin: a;
}
  .que-items a{
    background-color: #BDE0D3;
   color: black;
   padding:20px;
   border-radius: 50%;
   margin-bottom: 20px;

  }
  .buttons{
    text-align: center;
    margin: 50px 0;
  }

.btn-sucsess{
    padding: 15px 45px;
    margin-right: 20px;
    background-color: var(--theme-color);
     color:var(--theme-white);
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
  border: 1px solid transparent;
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;


}
.btn-sucsess:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-green);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;
    border: 1px solid transparent;


}
.btn-sucsess:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
}
.btn-sucsess:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}

.form-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
 }

.form-grid input,
.full-width input,
.full-width textarea {
    width: 100%;
   padding: 10px;
   border: none;
    outline: none;
            /* border: 1px solid #ccc; */
            border-radius: 5px;
            font-size: 16px;
            background-color: #EBEBEB;
        }

        .full-width {
            grid-column: span 2;
        }


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button:hover {
   background: #555;
}





/* MAP */

.mapouter {
   position: relative;
   text-align: right;
    width: 100%;
   height: 400px;
 }

.gmap_canvas {
   overflow: hidden;
   background: none !important;
   width: 100%;
    height: 400px;
 }

.gmap_iframe {
      width: 100% !important;
      height: 400px !important;
}



 /* THE-PROCESS */

 .process{
    padding: 110px 0;
 }
 .pro-title h2{
    font-size: 40px;
    padding-bottom: 20px;
    font-weight:500;
     font-family: 'Rounded Mplus 1c';
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    text-align: center;
 }
 .pro-title h2:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .pro-title p{
    max-width: 650px;
    margin: auto;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: rgb(172, 170, 170);
    	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
  	overflow: hidden;
 }
 .process-inner{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    margin: auto;;

 }
 .process-items{
    text-align: center;
    margin: 20px 0 ;
 }
 .process-img{
    background-color: #BDE0D3;
    display: block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content:center;
    margin:  auto ;
    position: relative;
 }


 .content-process h3{
    font-size: 26px;
    font-weight:500;
    padding: 20px 0;
 }
  .content-process h3:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .content-process p{
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgb(172, 170, 170);
    max-width: 300px;
    margin: auto;
 }
 .num{
    background-color: #515A68;
    color: whitesmoke;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 1%;
    bottom:0;
     transition: 0.4s all ease-in-out;
   border: 1px solid transparent;
 }
  .num:hover{
   background-color: var(--theme-white);
   color: black;
   transition: 0.4s all ease-in-out;
   border: 1px solid black;
 }


/* LOGOS-ALL */

.logos-all{
   margin: 90px 0;
}
.logos-all img{
   padding: 0 50px;
}




/* FOOTER */

footer{
    background-color:var(--theme-color);
    padding: 30px 0;
 }
 .shape-img{
    position: absolute;
    right:30%;
    bottom: -23%;
    object-fit:cover;
 }
 .footer-inner{
    display:flex;
    justify-content: space-between;
    position: relative;
 }
 .mapin{
    margin-left: 80px;
 }
 .footer-items h3{
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
    padding-bottom: 30px;
   font-family: 'Rounded Mplus 1c';
   cursor: pointer;
      transition: 0.3s all ease-in-out;
 }
 .footer-items h3:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .footer-items h5{
    color: whitesmoke;
    font-weight: 400;

 }
 .footer-items li{
    padding-bottom: 30px;
 }
  .ri-phone-fill ,.ri-mail-unread-fill ,.ri-map-pin-2-fill{
 color: #515A68;
 background-color: #BDE0D3;
 padding: 10px;
 border-radius: 50%;
 margin-right: 14px;
 }
 .richtext-2{
    font-size: 18px;
    max-width: 200px;
    line-height: 29px;

 }
 .rich{
    font-size: 16px;
    color: var(--theme-white);
 }
  .rich:hover{
    color: var(--theme-green);
    transition: 0.3s all ease-in-out;
  }
 .sign-up h3{
    color: var(--theme-white);
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
       transition: 0.3s all ease-in-out;
 }
  .sign-up h3:hover{
   color: var(--theme-green);
      transition: 0.3s all ease-in-out;
  }
  form{
    position: relative;
 }
 form input{
    background-color:whitesmoke;
    border: none;
    outline: none;
    padding: 15px 99px 16px 10px;
    border-radius: 25px;
    width: 100%;
 }
 form button i{
    position: absolute;
    right: 1%;
    border: none;
    padding: 10px 9px;
    border-radius: 50%;
    top: 46%;
    transform: translateY(-80%);
    background-color: #BDE0D3;
    border: 1px solid transparent;
       transition: 0.3s all ease-in-out;
 }
  form button i:hover{
   background-color: var(--theme-white);
   border: 1px solid black;
      transition: 0.3s all ease-in-out;
  }
  .icons-social img{
    color: whitesmoke;
    margin-right: 10px;
    transition: 0.3s all ease-in-out;

 }
 .footer-items .top-icons a{
    background-color: #a5a5a68a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
   display:inline-block;
    align-items: center;
    border-radius: 50%;


 }
 .footer-items .top-icons{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
 }
 .footer-items .top-icons a:hover{
    background-color: #BDE0D3;
    color: #000;
    transition: 0.3s all ease-in-out;
 }
.copyright{
   text-align: end;
   padding-top: 20px;
}
.copyright h3{
   color: #FFFFFF;
   font-size: 12px;
   font-weight: 200;
}