*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-color:#515A68;
    --theme-green:#BDE0D3;
    --theme-white:#fff;
}
.container{
    max-width: 1720px;
    padding: 0 20px;
    margin: 0 auto;
}
body{
      font-family: 'Rounded Mplus 1c';
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style:none;
}
.d-none{
    display: none;
 }
 .d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}

main{
    width: 75%;
    margin-left: auto;
    transition: 0.4s;
}

/* HEADER */

.div{
   background-color: #515A68;
   padding: 10px 0;
}
.div li{
   color: white;
   margin-left: 10px;
}
.top-left-section a{
   color: var(--theme-white);
   margin: 0 10px 0 0;
   font-size: 15px;
   transition:0.3s all ease-in-out
}
.top-left-section a:hover{
  color: var(--theme-green);
   transition:0.3s all ease-in-out
}
.top-icons  img{
   color:white;
   padding: 0 10px;
}
.top-icons img:hover{
   transform: scale(1.1);
}
.header_inner{
    display: flex;
    justify-content: space-between;
 align-items: center;
    /* padding: 30px 0; */
 }
 .header{
    padding: 10px 0;
    /* background-color: whitesmoke; */
 }
 .header_unorderlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
    white-space: nowrap;
 }
 .header-icons a{
   display: none;
}
 .header_logos_image{
    display: none;
 }
.header_options_a {
    color: var(--theme-black);
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}
.header_options_a:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
}
 .header_anchor{
    color: black;
    font-weight: 500;
    background-color:white;
    border: 2px solid grey;
    padding: 15px 30px;
    border-radius: 25px;
    transition: 0.3s all ease-in-out;

 }
 .header_anchor:hover{
   background-color: var(--theme-green);
      transition: 0.3s all ease-in-out;

 }
 .header .menu-btn {
    display: none;
 }
 .header .menu-btn:checked ~ .menu {
    max-height: 240px;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
 }
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
 }
 .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: none;
 }
 .header .menu-icon .navicon {
    background: var(--theme-black);
    display: block;
    height: 2px;
    position: relative;
    transition: background 1s ease-out;
    width: 18px;
 }
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
    background: var(--theme-black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 1s ease-out;
    width: 100%;
 }
 .header .menu-icon .navicon:before {
    top: 5px;
 }
 .header .menu-icon .navicon:after {
    top: -5px;
 }
 .header-inner{

 }


.btn-primary{
    padding: 15px 45px;
    border: 1px solid black;
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
   color: black;
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;
    margin-right: 20px;


}
.btn-primary:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-green);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-primary:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
    border: 1px solid transparent;
}
.btn-primary:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}

.button .btn-info{
   margin-right: 20px;
}
.btn-info{
    padding: 15px 45px;
    margin-right: 20px;
    background-color: var(--theme-green);
   color: #000;
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
   color: var(--theme-black);
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;
     white-space: nowrap;


}
.btn-info:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-white);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-info:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
    border: 1px solid black;
}
.btn-info:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}





 /* HERO */

/* .container-11 {
    display: grid;
    grid-template-columns: 270px 1fr;
        gap: 20px;
        width: 80%;
        background: white;
        /* padding: 20px; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        border-radius: 10px;
        /* margin-top: 20px; */
} */
.plan-inner{
   display: flex;
}
/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.circle-img{
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;

}
.back-link {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    position: absolute;
    top: 20%;
    left: 17%;
    z-index: 999;
}

/* Social Media */
.social-share h3 {
      margin-bottom: 30px;
    font-size:23px;
    font-weight: 300;
}
.social-share{
    position: absolute;
    top: 70%;
    left: 15%;
    z-index: 999;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
h3{

}
.icons i{
    background-color: #BDE0D3;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    margin:0 4px;
    color: white;
      transition: 0.3s all ease-in-out;
   border: 1px solid transparent;

}
.icons i:hover{
   background-color: var(--theme-white);
   color: black;
   transition: 0.3s all ease-in-out;
   border: 1px solid black;
}

/* Main Content */

h1 {
    font-size: 45px;
    color: #222;
    font-weight: 500;
    padding-bottom: 20px ;
     transition: 0.4s all ease-in-out;
     cursor: pointer;

}
h1:hover{
   color: var(--theme-green);
   transition: 0.4s all ease-in-out;

}

p , .col-items p {
    font-size: 16px;
    color: #555;
    line-height: 33px;
    padding: 20px 0;
    max-width: 800px;
    text-align: left;
}
.col-items h2{
    padding:40px 0 0 0;
    font-size: 30px;
    font-weight: 400;
    color: #515A68;
      transition: 0.4s all ease-in-out;
      cursor: pointer;;
}

.btn-sucsess{
    padding: 15px 45px;
    margin-right: 20px;
    background-color: var(--theme-color);
     color:var(--theme-white);
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
  border: 1px solid transparent;
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;


}
.btn-sucsess:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-green);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;
    border: 1px solid transparent;


}
.btn-sucsess:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
}
.btn-sucsess:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}

.col-items h2:hover{
      color: var(--theme-green);
   transition: 0.4s all ease-in-out;
}

/* Image Styling */
 .image-container {
   margin-top: 20px;
    overflow: hidden;
}

.image-container img {
 overflow: hidden;
    border-radius: 10px;
     transition: 0.3s all ease-in-out;

}
.image-container img:hover{
   transform: scale(1.1);
   transition: 0.3s all ease-in-out;

}

/* SLIDER FEEDBACK */
  .swiper{
    width: 100%;
    height: 100%;


}

.feedback-section{
    background-color:var(--theme-color);
    padding: 50px 0;
    position: relative;

}
.qoutes-img{
   position: absolute;
   top: -20%;
   right: 25%;
   z-index: 999;
   /* background-color: pink; */
}
.qoutes-img  img{
   width: 345px;
  height: 1220px;
transform: matrix(-1, 0, 0, -1, 0, 0);
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  .content-swiper h4{
    color: whitesmoke;
    font-weight: 300;
    padding: 20px 0;
    font-size: 14px;
  }
  .content-swiper h3{
    color: whitesmoke;
    font-weight: 400;
    padding: 20px 0;
    font-size: 33px;
    max-width: 800px;
     font-family: 'Rounded Mplus 1c';
     cursor: pointer;;
  }
  .content-swiper h3:hover{
    color: var(--theme-green);
    transition: 0.3s all ease-in-out;
  }
  .content-swiper h5{
    color: whitesmoke;
    font-weight: 300;
    padding: 20px 0;
    word-spacing: 10px;
    letter-spacing: 1;
    font-size: 14px;
  }


.swiper-pagination-bullet {
      width: 3px;
      height: 35px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #000;
      opacity: 4;
      background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
      color: #fff;
      background: var(--theme-white);
    }
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom:40%;
    align-items: flex-end;
    gap: 10px;
   padding-right: 40px;
}


/* SERVICES */



 .ri-arrow-right-line{
    background-color: #BDE0D3;
    padding: 9px;
    border-radius: 50%;
    margin-left: 10px;
    color: black;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
 }
  .ri-arrow-right-line:hover{
   background-color: white;
   border: 1px solid black;
       transition: 0.3s all ease-in-out;
  }
section.services {
    padding: 70px 0;
}
.services-inner{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.services-content{
   padding: 19px;
}
.services-items{
 /* box-shadow:0px 2px 20px 0px rgba(62,65,159,0.09); */
  border-radius:5px;
  margin-right: 20px;
}
.services-img img{
  border-radius: 5px 5px 0 0;
  width: 100%;
  display: block;
      transition: 0.3s all ease-in-out;


}
.services-img{
   overflow: hidden;

}
.services-img img:hover{
   transform: scale(1.1);
   transition: 0.3s all ease-in-out;
}

.services-title{
   margin:20px 0 50px 0;
}
.services-title h4{
   color:#2C3646;
  font-weight:700;
  font-size: 37px;
   transition: 0.3s all ease-in-out;
}
.services-title h4:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
}
.services-content h4{
  color:#2C3646;
  font-weight: 200;
  margin: 9px 0;
  font-size: 12px;
}
 .services-content h5{
   color: #2C3646;
   font-size: 26px;
   font-weight: 500;
  margin-bottom: 9px;
   font-family: 'Rounded Mplus 1c';
   transition: 0.4s all ease-in-out;
}
 .services-content h5:hover{
   color: var(--theme-green);
   transition: 0.4s all ease-in-out;
 }
.services-heading {
   flex-grow: 1;
   text-align: left;
}
 .services-title a{
    flex-shrink: 0;
}
.services-content p{
   color:#2C3646;
   font-weight:100;
   line-height:1.9;
   font-size: 14px;
   margin-bottom: 20px;
}
 .services-content img{
   background-color: var(--theme-light-green);
   padding: 10px ;
   border-radius: 50%;
   overflow: hidden;

}

/*.services-items .services-img img:hover{
   filter: contrast(50%);
} */

/* LOGOS-ALL */

.logos-all{
   margin: 90px 0;
}
.logos-all img{
   padding: 0 50px;
}


/* FOOTER */



/* FOOTER */

footer{
    background-color:var(--theme-color);
    padding: 30px 0;
 }
 .shape-img{
    position: absolute;
    right:30%;
    bottom: -23%;
    object-fit:cover;
 }
 .footer-inner{
    display:flex;
    justify-content: space-between;
    position: relative;
 }
 .mapin{
    margin-left: 80px;
 }
 .footer-items h3{
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
    padding-bottom: 30px;
   font-family: 'Rounded Mplus 1c';
   cursor: pointer;
      transition: 0.3s all ease-in-out;
 }
 .footer-items h3:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .footer-items h5{
    color: whitesmoke;
    font-weight: 400;

 }
 .footer-items li{
    padding-bottom: 30px;
 }
  .ri-phone-fill ,.ri-mail-unread-fill ,.ri-map-pin-2-fill{
 color: #515A68;
 background-color: #BDE0D3;
 padding: 10px;
 border-radius: 50%;
 margin-right: 14px;
 }
 .richtext-2{
    font-size: 18px;
    max-width: 200px;
    line-height: 29px;

 }
 .rich{
    font-size: 16px;
    color: var(--theme-white);
 }
  .rich:hover{
    color: var(--theme-green);
    transition: 0.3s all ease-in-out;
  }
 .sign-up h3{
    color: var(--theme-white);
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
       transition: 0.3s all ease-in-out;
 }
  .sign-up h3:hover{
   color: var(--theme-green);
      transition: 0.3s all ease-in-out;
  }
  form{
    position: relative;
 }
 form input{
    background-color:whitesmoke;
    border: none;
    outline: none;
    padding: 15px 99px 16px 10px;
    border-radius: 25px;
    width: 100%;
 }
 form button i{
    position: absolute;
    right: 1%;
    border: none;
    padding: 10px 9px;
    border-radius: 50%;
    top: 46%;
    transform: translateY(-80%);
    background-color: #BDE0D3;
 }
  form button:hover{
   background-color: var(--theme-white);
  }
  .icons-social img{
    color: whitesmoke;
    margin-right: 10px;
    transition: 0.3s all ease-in-out;

 }
 .footer-items .top-icons a{
    background-color: #a5a5a68a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
   display:inline-block;
    align-items: center;
    border-radius: 50%;


 }
 .footer-items .top-icons{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
 }
 .footer-items .top-icons a:hover{
    background-color: #BDE0D3;
    color: #000;
    transition: 0.3s all ease-in-out;
 }
.copyright{
   text-align: end;
   padding-top: 20px;
}
.copyright h3{
   color: #FFFFFF;
   font-size: 12px;
   font-weight: 200;
}