@media (max-width:759px) {

	.header_unorderlist{
		display: none;
	}
	.header_anchor{
		display:block;
	}
    .footer-items .top-icons{
        text-align: left;
        gap:10px;
        display: flex;
    }
}


@media (max-width:790px) {
    .btn{
        display: none;
    }
	.header_unorderlist{
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color:white;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
        z-index: 999;
        align-items: start;
        height: 100vh;
        justify-content: inherit;
    }
    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
        display: block;
        color: black;
    }
    a.btn-primary {
    margin-top: 43px;
     }
     .header-icons {
    margin-top: 166px;
}
    .header .menu-btn:checked ~ .header_unorderlist {
        display: flex;
    }
    .header .menu-icon {
        display: inline-block;
        color: white;
    }
    .div{
        display: none;
    }
    .header-a{
        color: whitesmoke;
    }
    .header_logos_image{
        display:none;
    }
    .header_logo_image{
        display: block;
    }
    .mini_header{
        display: none;
    }
    .header_options_a{
        color:var(--theme-color);
        font-size: 32px;
        white-space: nowrap;
    }
    .header_anchor{
		display: block;
        background-color: var(--theme-green);
        border: none;
        transition: 0.3s all ease-in-out;


    }
    .header_anchor:hover{
       background-color: white;
       border: 1px solid var(--theme-color);
        transition: 0.3s all ease-in-out;
    }
    .header .menu-icon .navicon {
        background:black;
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background:black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

	.d-logo{
		display: block;
	}
	.logo{
		display: none;
	}
	 .navigation{
		background-color: transparent;
	 }
     .header-icons a{
        display: inline-flex;
        z-index: 9999;
       background-color: var(--theme-color);
       width: 50px;
       height: 50px;
       text-align: center;
       align-items: center;
       justify-content: center;
       margin: auto;
       border-radius: 50%;
       color: white;
       font-size: 20px;
       margin: 0 7px;
       transition: 0.3s all ease-in-out;
     }
     .header-icons a:hover{
        background-color:var(--theme-green);
        color: black;
         transition: 0.3s all ease-in-out;
     }





}
@media (max-width:795px) {
    /* .footer-inner{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
    } */
    main{
        width: 100%;
    }
    .policy-inner{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .policy-left-section{
        position: inherit;
        margin: 91px 0 0 0 ;
    }
    .shape-img {
    position: absolute;
    right: 20%;
    bottom: 11%;
    object-fit: cover;
    /* background-color: red; */
}
}
@media (max-width:536px) {
    .footer-inner{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
    }
    aside{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        z-index: 999;
    }
        .shape-img {
        position: absolute;
        right: 20%;
        top: -28px;
        object-fit: cover;
        /* background-color: red; */
    }
    .div{
        display: none;
    }
}

@media  (max-width:875px) {
    .get-in{
        display: flex;
        flex-direction: column;

    }
    .mapin{
        margin: 0;
    }
}

@media (max-width:775px) {
    .footer-inner {
        display: flex;
        flex-direction: column;
    }
    .shape-img{

    }
}