*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1720px;
    padding: 0 20px;
    margin: 0 auto;
}
body{
    font-family: 'Tomorrow';
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style:none;
}
.d-none{
    display: none;
 }
 .d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}

main{
    width: 75%;
    margin-left: auto;
    transition: 0.4s;
}

/* HEADER */

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 0; */
 }
 .header{
   
    padding: 10px 0;
    background-color: whitesmoke;
 }
 .header_unorderlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
 }
 .header_logos_image{
    display: none;
 }
 .header_options_a{
    color: var(--theme-white);
    font-size: 14px;
    padding: 10px;
 }
 .header_anchor{
    color: black;
    font-weight: 500;
    background-color:white;
    border: 2px solid grey;
    padding: 15px 30px;
    border-radius: 25px;
   
 }
 .header .menu-btn {
    display: none;
 }
 .header .menu-btn:checked ~ .menu {
    max-height: 240px;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
 }
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
 }
 .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: none;
 }
 .header .menu-icon .navicon {
    background: var(--theme-black);
    display: block;
    height: 2px;
    position: relative;
    transition: background 1s ease-out;
    width: 18px;
 }
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
    background: var(--theme-black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 1s ease-out;
    width: 100%;
 }
 .header .menu-icon .navicon:before {
    top: 5px;
 }
 .header .menu-icon .navicon:after {
    top: -5px;
 }

 

 /* PRIAVCY-POLICY */

 main{
    background-image: url(../../assets/img/icons/Path\ 12143.png);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-attachment: fixed;
}
aside {
    position: sticky;
    top: 0;
    width: 25%;
    margin-right: 30px;
}
.privacy{
    align-items: flex-start;
}
aside h3{
    color: #2C3646;
    border-left: 2px solid rgb(99, 98, 98);
    font-weight: 400;
    padding-left: 20px;
    font-size: 24px;
}
aside h4{
    color: rgba(137, 133, 133, 0.756);
  font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.policy{
    padding: 80px 0;
   
}
.policy-title h2{
    color:#2C3646;
    font-weight: 500;
   font-size: 32px;
   padding-bottom: 30px;
   padding-top: 70px;
}
.sub-1{
    color:#2C3646;
    font-weight: 500;
   font-size: 32px;
   padding-bottom: 30px;
}
.richtext-1{
    line-height: 40px;
    color: #A9A9A9;
    font-weight: 300;
    font-family: fantasy;
    letter-spacing: 2px;
    word-spacing: 10px;
}
.policy-title{
    border-bottom: 2px solid rgba(128, 128, 128, 0.345);
  
}
.sub,.sub-1{
    padding-top: 150px;
}



/* LOGOS-ALL */

.logos-all{
    margin: 50px 0;
 }
 .logos-all img{
    padding: 0 50px;
 }
 
 
 /* FOOTER */
 
 
 footer{
    background-color:#515A68;
    padding: 30px 0;
 }
 .footer-inner{
    display: grid;
    grid-template-columns:repeat(3 , 1fr);
 }
 .footer-items h3{
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
    padding-bottom: 30px;
 }
 .footer-items h5{
    color: whitesmoke;
    font-weight: 400;
  
 }
 .footer-items li{
    padding-bottom: 30px;
 }
 .ri-phone-fill ,.ri-mail-unread-fill ,.ri-map-pin-2-fill{
 color: #515A68;
 background-color: #BDE0D3;
 padding: 10px;
 border-radius: 50%;
 margin-right: 14px;
 }
 .richtext{
    font-size: 18px;
    max-width: 200px;
    line-height: 29px;
 
 }
 .rich{
    font-size: 16px;
 }
 
 .sign-up h5{
    color:white;
    font-weight: 400;
    font-size: 30px;
 }
 form{
    position: relative;
 }
 form input{
    background-color:whitesmoke;
    border: none;
    outline: none;
    padding: 16px 99px 16px 10px;
    margin:20px 0;
    border-radius: 25px;
    width: 100%;
 }
 form button{
    position: absolute;
    right: 1%;
    border: none;
    padding: 10px 9px;
    border-radius: 50%;
    top: 50%;
    background-color: #BDE0D3;
    transform: translateY(-50%);
 }
 .icons-social i{
    color: whitesmoke;
    margin-right: 10px;
    font-size: 19px;
    background-color: #a5a5a68a;
    padding: 10px;
    border-radius :50%;
    transition: 0.3s all ease-in-out;
 
 }
 .icons-social{
    margin-top: 20px;
    text-align: center;
 }
 .icons-social i:hover{
    background-color: #BDE0D3;
    color: #000;
    transition: 0.3s all ease-in-out;
 }
 
 