@media (max-width:435px) {
    .btn{
        display: none;
    }
	.header_unorderlist {
        display: none;
        position: absolute;
        top: 147px;
        left: 0;
        width: 100%;
        background-color:whitesmoke;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        z-index: 999;
    }
    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
        display: block;
    }
    .header .menu-btn:checked ~ .header_unorderlist {
        display: flex;
    }
    .header .menu-icon {
        display: inline-block;
        color: white;
    }
    .header-a{
        color: whitesmoke;
    }
    .header_logos_image{
        display:none;
    }
    .header_logo_image{
        display: block;
    }
    .mini_header{
        display: none;
    }
    .header_options_a{
        color:black;
    }
    .header_anchor{
        background-color:whitesmoke;
		display: none;

    }
    .header .menu-icon .navicon {
        background:black;
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background:black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    header{
		background-color: azure;
	}
	.d-logo{
		display: block;
	}
	.logo{
		display: none;
	}
	 .navigation{
		background-color: transparent;
	 }





}


@media (max-width:716px) {
  .header_unorderlist{
    display: none;
  }
  .div{
    display: none;
  }
}

@media (max-width: 600px) {
    .modal-body {
        flex-direction: column;
        text-align: center;
    }

    .modal-image {
        margin-bottom: 10px;
    }
}
