@media (max-width:790px) {
    .btn{
        display: none;
    }
	.header_unorderlist{
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color:white;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
        z-index: 999;
        align-items: start;
    }
    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
        display: block;
    }
    .header .menu-btn:checked ~ .header_unorderlist {
        display: flex;
    }
    .header .menu-icon {
        display: inline-block;
        color: white;
    }
    .header-a{
        color: whitesmoke;
    }
    .header_logos_image{
        display:none;
    }
    .header_logo_image{
        display: block;
    }
    .mini_header{
        display: none;
    }
    .header_options_a{
        color:black;
    }
    .header_anchor{
		display: block;
        background-color: var(--theme-green);
        border: none;
        transition: 0.3s all ease-in-out;


    }
    .header_anchor:hover{
       background-color: white;
       border: 1px solid var(--theme-color);
        transition: 0.3s all ease-in-out;
    }
    .header .menu-icon .navicon {
        background:black;
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background:black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

	.d-logo{
		display: block;
	}
	.logo{
		display: none;
	}
	 .navigation{
		background-color: transparent;
	 }
     .header-icons a{
        display: inline-flex;
        z-index: 9999;
       background-color: var(--theme-color);
       width: 50px;
       height: 50px;
       text-align: center;
       align-items: center;
       justify-content: center;
       margin: auto;
       border-radius: 50%;
       color: white;
       font-size: 20px;
       margin: 0 7px;
       transition: 0.3s all ease-in-out;
     }
     .header-icons a:hover{
        background-color:var(--theme-green);
        color: black;
         transition: 0.3s all ease-in-out;
     }





}


@media (max-width:716px) {
  .header_unorderlist{
    display: none;
  }
  .div{
    display: none;
  }
}

@media (max-width: 600px) {
    .modal-body {
        flex-direction: column;
        text-align: center;
    }

    .modal-image {
        margin-bottom: 10px;
    }
}
@media (max-width: 934px) {
  .services-inner{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
}
@media (max-width: 575px) {
  .services-inner{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 20px;
}
}

@media (max-width: 695px) {
  .modal {
    display: none;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.model-inner-on{
    display:flex;
    flex-direction: column;
}
.model-content-on {
    text-align: center;
    padding: 0 20px;
}
}


