*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-color:#515A68;
    --theme-green:#BDE0D3;
    --theme-white:#fff;
}
.container{
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
}
body{
   font-family: 'Rounded Mplus 1c';
}
a{
    text-decoration: none;
    display: inline-block;
}
.d-none{
   display: none;
}
ul,ol{
    list-style: none;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}


 /* HEADER */

.div{
   background-color: #515A68;
   padding: 10px 0;
}
.div li{
   color: white;
   margin-left: 10px;
}
.top-left-section a{
   color: var(--theme-white);
   margin: 0 10px 0 0;
   font-size: 15px;
   transition:0.3s all ease-in-out
}
.top-left-section a:hover{
  color: var(--theme-green);
   transition:0.3s all ease-in-out
}
.top-icons  img{
   color:white;
   padding: 0 10px;
}
.top-icons img:hover{
   transform: scale(1.1);
}
.header_inner{
    display: flex;
    justify-content: space-between;
 align-items: center;
    /* padding: 30px 0; */

 }
 .header{
    padding: 16px 0;
    position: absolute;
    width: 100%;
    z-index: 999;


    /* background-color: whitesmoke; */
 }
 .header_unorderlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
 }
 .header-icons a{
   display: none;
}
 .header_logos_image{
    display: none;
 }
.header_options_a {
    color: var(--theme-white);
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}
.header_options_a:hover{
   color: var(--theme-black);
   transition: 0.3s all ease-in-out;
}
 .header_anchor{
    color: black;
    font-weight: 500;
    background-color:white;
    border: 2px solid grey;
    padding: 15px 30px;
    border-radius: 25px;
    transition: 0.3s all ease-in-out;

 }
 .header_anchor:hover{
   background-color: var(--theme-green);
      transition: 0.3s all ease-in-out;

 }
 .header .menu-btn {
    display: none;
 }
 .header .menu-btn:checked ~ .menu {
    max-height: 240px;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
 }
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
 }
 .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: none;
 }
 .header .menu-icon .navicon {
    background: var(--theme-black);
    display: block;
    height: 2px;
    position: relative;
    transition: background 1s ease-out;
    width: 18px;
 }
 .icons-socia img{
     padding: 0 7px;
 }
 .icons-socia a:hover{
   color: var(--theme-green);

 }
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
    background: var(--theme-black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 1s ease-out;
    width: 100%;
 }
 .header .menu-icon .navicon:before {
    top: 5px;
 }
 .header .menu-icon .navicon:after {
    top: -5px;
 }

.header_logo_image  img{
   max-width: 140px;
   height: 100%;
}

/* BTN-INFO */

.btn-primary{
    padding: 15px 45px;
    border: 1px solid black;
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
   color: black;
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;


}
.btn-primary:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-white);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-primary:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
    border: 1px solid transparent;
}
.btn-primary:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}

.button .btn-info{
   margin-right: 20px;
}
.btn-info{
    padding: 15px 45px;
    margin-right: 20px;
    background-color: var(--theme-green);
   color: #000;
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
   color: var(--theme-black);
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;
     white-space: nowrap;


}
.btn-info:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-white);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-info:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
    border: 1px solid black;
}
.btn-info:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}



/* BANNER */


.hero-section{
    background-color: #BDE0D3;
    padding: 120px 0;
   clip-path: ellipse(100% 55% at 48% 44%);
       position: relative;

}
.title-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-hero p{
    max-width: 600px;
}
.title-hero h1{
   font-size: 49px;
   font-weight: 500;
   color:#2C3646;
   padding: 20px 0;
      transition: 0.3s all ease-in-out;
      cursor: pointer;

}
.title-hero h1:hover{
   transition: 0.3s all ease-in-out;
   color: var(--theme-color);
}
.title-hero p{
   line-height: 30px;
  font-weight: 300;
   color:#2C3646;
   margin-bottom: 60px;
   word-spacing: 2px;
   text-align: center;
}
.inner-hero{
   display: grid;
   grid-template-columns: repeat(1 , 1fr);
   gap: 20px;
    /* position: relative; */
}
.hero-items{
   background-color: white;
   box-shadow: 0px 3px 36px #0000000D;
   border-radius: 50px;
   padding: 30px 0 30px 30px ;
   position: relative;
   z-index: 1;
}
.heros-sec{
   position: relative;
   z-index: 1;
}
.hero-content {
   padding-left: 40px;

}
.hero-content h2{
   font-size: 32px;
   font-weight:400;
   color:#2C3646;
   word-spacing: 5px;
   line-height:49px;
   max-width: 1320px;
   padding-bottom: 20px;

}
.hero-content h5{
   font-size: 14px;
   font-weight: 400;
   color:#2C3646;
   word-spacing: 5px;
   line-height:49px;


}
.que-img{
   position: absolute;
   top:-170%;
   height: 100%;
   right: 10%;
   z-index: 999;
   /* background-color: red; */
}


 /* THE-PROCESS */

 .process{
    padding: 230px 0 70px 0;
 }

 .pro-title{
   text-align: center;
   padding-bottom: 60px;
 }
 .pro-title h2{
    font-size: 40px;
    padding-bottom: 20px;
    font-weight:500;
     font-family: 'Rounded Mplus 1c';
    transition: 0.3s all ease-in-out;
    cursor: pointer;
 }
 .pro-title h2:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .pro-title p{
    max-width: 650px;
    margin: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color:#515A68;
 }
 .process-inner{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    margin: auto;;

 }
 .process-items{
    text-align: center;
    margin: auto ;
 }
 .process-img{
    background-color: #BDE0D3;
    display: block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content:center;
    margin:  auto ;
    position: relative;
 }


 .content-process h3{
    font-size: 26px;
    font-weight:500;
    padding: 20px 0;
     font-family: 'Rounded Mplus 1c';
     transition: 0.3s all ease-in-out;
     cursor: pointer;
 }
 .content-process h3:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .content-process p{
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: rgb(172, 170, 170);
    max-width: 300px;
 }
 .num{
    background-color: #515A68;
    color: whitesmoke;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 1%;
    bottom: 1%;
     font-family: 'Rounded Mplus 1c';
       transition: 0.4s all ease-in-out;
       border: 1px solid transparent;
 }
 .num:hover{
   background-color: var(--theme-white);
   color: black;
   transition: 0.4s all ease-in-out;
   border: 1px solid black;
 }
 .button .btn-sucsess{

 padding: 15px 45px;


 }
 .button{
text-align: center;
    margin:auto;
    padding: 30px 0;
 }
 .btn-sucsess{
    padding: 15px 45px;
    margin-right: 20px;
    background-color: var(--theme-color);
     color:var(--theme-white);
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;

	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;


}
.btn-sucsess:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-green);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-sucsess:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
}
.btn-sucsess:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}

 /* LEARN */

 .title-learn h3{
   font-size: 40px;
   font-weight: 400;
   padding-bottom: 20px;
     transition: 0.3s all ease-in-out;
     cursor: pointer;
 }
  .title-learn h3:hover{
     transition: 0.3s all ease-in-out;
     color: var(--theme-green);
  }
 .title-learn p{
   font-size: 16px;
   font-weight: 300;
   padding-bottom: 20px;
   max-width: 600px;
   text-align: center;
   margin: auto;
   line-height:30px;
   word-spacing: 3px;
   color:gray;
   font-weight:300;
 }

/* LOGOS-ALL */

.logos-all{
   margin: 90px 0;
}
.logos-all img{
   padding: 0 50px;
}


/* FOOTER */

footer{
    background-color:var(--theme-color);
    padding: 30px 0;
 }
 .shape-img{
    position: absolute;
    right:30%;
    bottom: -23%;
    object-fit:cover;
 }
 .footer-inner{
    display:flex;
    justify-content: space-between;
    position: relative;
 }
 .mapin{
    margin-left: 80px;
 }
 .footer-items h3{
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
    padding-bottom: 30px;
   font-family: 'Rounded Mplus 1c';
   cursor: pointer;
      transition: 0.3s all ease-in-out;
 }
 .footer-items h3:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .footer-items h5{
    color: whitesmoke;
    font-weight: 400;

 }
 .footer-items li{
    padding-bottom: 30px;
 }
  .ri-phone-fill ,.ri-mail-unread-fill ,.ri-map-pin-2-fill{
 color: #515A68;
 background-color: #BDE0D3;
 padding: 10px;
 border-radius: 50%;
 margin-right: 14px;
 }
 .richtext-2{
    font-size: 18px;
    max-width: 200px;
    line-height: 29px;

 }
 .rich{
    font-size: 16px;
    color: var(--theme-white);
 }
  .rich:hover{
    color: var(--theme-green);
    transition: 0.3s all ease-in-out;
  }
 .sign-up h3{
    color: var(--theme-white);
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
       transition: 0.3s all ease-in-out;
 }
  .sign-up h3:hover{
   color: var(--theme-green);
      transition: 0.3s all ease-in-out;
  }
  form{
    position: relative;
 }
 form input{
    background-color:whitesmoke;
    border: none;
    outline: none;
    padding: 15px 99px 16px 10px;
    border-radius: 25px;
    width: 100%;
 }
 form button i{
    position: absolute;
    right: 1%;
    border: none;
    padding: 10px 9px;
    border-radius: 50%;
    top: 46%;
    transform: translateY(-80%);
    background-color: #BDE0D3;
 }
  form button:hover{
   background-color: var(--theme-white);
  }
  .icons-social img{
    color: whitesmoke;
    margin-right: 10px;
    transition: 0.3s all ease-in-out;

 }
 .footer-items .top-icons a{
    background-color: #a5a5a68a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
   display:inline-block;
    align-items: center;
    border-radius: 50%;


 }
 .footer-items .top-icons{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
 }
 .footer-items .top-icons a:hover{
    background-color: #BDE0D3;
    color: #000;
    transition: 0.3s all ease-in-out;
 }
.copyright{
   text-align: end;
   padding-top: 20px;
}
.copyright h3{
   color: #FFFFFF;
   font-size: 12px;
   font-weight: 200;
}
 .ri-arrow-right-line{
    background-color: #BDE0D3;
    padding: 9px;
    border-radius: 50%;
    margin-left: 10px;
    color: black;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
 }
  .ri-arrow-right-line:hover{
   background-color: white;
   border: 1px solid black;
       transition: 0.3s all ease-in-out;
  }