
@media (max-width:435px) {
    .btn{
        display: none;
    }
	.header_unorderlist {
        display: none;
        position: absolute;
        top: 117px;
        left: 0;
        width: 100%;
        background-color:whitesmoke;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        z-index: 999;
    }
    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
    }
    .header .menu-btn:checked ~ .header_unorderlist {
        display: flex;
    }
    .header .menu-icon {
        display: inline-block;
        color: white;
    }
    .header-a{
        color: whitesmoke;
    }
    .header_logos_image{
        display:none;
    }
    .header_logo_image{
        display: block;
    }
    .mini_header{
        display: none;
    }
    .header_options_a{
        color:black;
    }
    .header_anchor{
        background-color:whitesmoke;
		display: none;
      
    }
    .header .menu-icon .navicon {
        background:black;
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background:black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }



	 .dark-logo{
		display: block;
	 }
	 .navigation{
		background-color: transparent;
	 }


     /* BANNER */

     
	.banner-img{
		background:rgb(0,0,0,0.2);
		 background-size:cover;
		padding:0;
		
		position: static;
		background-blend-mode:darken;
	
	 }
	 .banner-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: static;
		top: 0;
		left: 0;
		margin: auto;
		transform: translate(0,0);
	
	 }
	 .banner-content h1{
		color: #000;
		font-weight: 300;
	 }
	 .banner-content p{
		color: gainsboro;
		line-height: 30px;
		font-weight: 400;
	 }
	 .banner-content .btn-1{
		margin-bottom: 20px;
	 }
	 .btn-2{
		color: #000;
	 }
	 .banner{	
	
		height: 100%;
	}
   

}


@media (max-width:567px) {
    /* TOP-DIV */

    .div{
        display: none;
    }
}


@media (max-width:734px) {
    /* TOP-DIV */

    .header_unorderlist{
		display: none;
	}
	.header_anchor{
		display:block;
	}
}

@media (max-width:734px) {
    /* TOP-DIV */

    
	.header_anchor{
		display:none;
	}
}