
@media (max-width:790px) {
    .btn{
        display: none;
    }
.btn-primary{
    padding: 15px 45px;
    border: 1px solid black;
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
   color: black;
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;


}
.btn-primary:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-green);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.footer-items .top-icons{
    text-align: left;
    display: flex;
    gap: 10px;
}
.btn-primary:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
    border: 1px solid transparent;
}
.btn-primary:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}
a.btn-primary {
    margin-top: 60px;
}
.div{
    display: none;
}
	.header_unorderlist{
        display: none;
        position: absolute;
        top: 79px;
        left: 0;
        width: 100%;
        background-color:white;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
        z-index: 999;
        height: 100vh;
        align-items: start;
        white-space: nowrap;
        justify-content: inherit;
    }
    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
        display: block;
        color: black;

    }
      .header_unorderlist li  a{
         font-size: 32px;
         color: var(--theme-color);
      }
    .header-icons {
    margin-top: 210px;
}
    .header .menu-btn:checked ~ .header_unorderlist {
        display: flex;
    }
    .header .menu-icon {
        display: inline-block;
        color: white;
    }
    .header_options_a{
        padding: 0;
    }
    .header-a{
        color: whitesmoke;
    }
    .header_logos_image{
        display:none;
    }
    .header_logo_image{
        display: block;
    }
    .mini_header{
        display: none;
    }
    /* .header_options_a{
        color:red;
    } */
    .header_anchor{
		display: block;
        background-color: var(--theme-green);
        border: none;
        padding: 15px 50px;
        transition: 0.3s all ease-in-out;
        margin-top: 30px;


    }
    .header_anchor:hover{
       background-color: white;
       border: 1px solid var(--theme-color);
        transition: 0.3s all ease-in-out;
    }
    .header .menu-icon .navicon {
        background:black;
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background:black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

	.d-logo{
		display: block;
	}
	.logo{
		display: none;
	}
	 .navigation{
		background-color: transparent;
	 }
     .header-icons a{
        display: inline-flex;
        z-index: 9999;
       background-color: var(--theme-color);
       width: 50px;
       height: 50px;
       text-align: center;
       align-items: center;
       justify-content: center;
       margin: auto;
       border-radius: 50%;
       color: white;
       font-size: 20px;
       margin: 0 7px;
       transition: 0.3s all ease-in-out;
     }
     .header-icons a:hover{
        background-color:var(--theme-green);
        color: black;
         transition: 0.3s all ease-in-out;
     }





}


@media (max-width:567px) {
    /* TOP-DIV */

    .div{
        display: none;
    }

}

@media (max-width:734px) {
    /* TOP-DIV */

    .header_unorderlist{
		display: none;
	}
  .footer-inner{
        display: grid;
        grid-template-columns: repeat(1, 1fr)!important;
     }
}

 @media (max-width:574px) {
    .process-inner{
        display:grid;
        grid-template-columns:repeat(1,1fr)!important;
        margin: auto;;

     }

	 .services-inner{
		display: grid;
		grid-template-columns: repeat(1,1fr);
	 }

	.ri-menu-line{
		color: red;
	}
	.div{
		display: none;
	   }
       .footer-inner{
        display: flex;
        flex-direction: column;
       }

}

@media (max-width:1105px) {
    .que-img {
    position: absolute;
    top: -152%;
    height: 100%;
    right: 10%;
    z-index: 999;
    /* background-color: red; */
}
}

@media (max-width:1100px) {
    .que-img {
    position: absolute;
    top: -152%;
    height: 100%;
    right: 10%;
    z-index: 999;
    /* background-color: red; */
}
}
@media (max-width:1440px) {
    .que-img {
    position: absolute;
    top: -163%;
    height: 100%;
    right: 10%;
    z-index: 999;
    /* background-color: red; */
}
}
@media (max-width: 1098px) {
    .que-img {
        position: absolute;
        top: -105%;
        height: 100%;
        right: 10%;
        z-index: 999;
        /* background-color: red; */
    }
}
@media (max-width: 828px) {
    .process-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.que-img {
        position: absolute;
        top: -75%;
        height: 100%;
        right: 10%;
        z-index: 999;
        /* background-color: red; */
    }
       .shape-img {
        position: absolute;
        top: -64px;
        left: -87px;
        bottom: 0;
    }
   .get-in{
    display: flex;
    flex-direction: column!important;
   }
   .mapin{
    margin: 0;
   }

}

@media (max-width: 623px) {
    .que-img {
        position: absolute;
        top: -31%;
        height: 100%;
        right: 10%;
        z-index: 999;
        /* background-color: red; */
    }
}

@media (max-width: 604px) {
    .que-img {
        position: absolute;
        top: -90%;
        height: 100%;
        right: 2%;
        z-index: 999;
        /* background-color: red; */
    }
    .hero-content h2 {
    font-size: 24px;

}
}
@media (max-width: 544px) {
    .hero-items.d-flex.align-center {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
.hero-section {
    background-color: #BDE0D3;
    padding: 120px 0;
    clip-path: ellipse(100% 66% at 49% 44%);
    position: relative;
}
 .que-img {
        position: absolute;
        top: -52%;
        height: 100%;
        right: 2%;
        z-index: 999;
        /* background-color: red; */
    }
}
@media (max-width: 320px) {
    .hero-items.d-flex.align-center {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
 .que-img {
        position: absolute;
        top: -60%;
        height: 100%;
        right: 2%;
        z-index: 999;
        /* background-color: red; */
    }
    .title-hero h1 {
    font-size: 45px;
    font-weight: 400;
    color: #2C3646;
    padding: 20px 0;
    text-align: center;
}
.title-hero p{
    color: #515A68;
    font-size: 15px;
}
    .hero-content {
    padding-left:0;
    text-align: left;

}
.hero-content h2 {

    line-height: 34px;

}
 .shape-img {
        position: absolute;
        top: 0;
        left:-90%;
        bottom: 0;
    }
        .header-icons a {
        display: inline-flex;
        z-index: 9999;
        background-color: var(--theme-color);
        width: 50px;
        height: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 50%;
        color: white;
        font-size: 20px;
        margin: 5px;

}
}
@media (max-width:425px) {
    .hero-content{
        padding-left: 0;
        text-align: left;
    }
        .shape-img {
        position: absolute;
        top: -20%;
        left: -90%;
        bottom: 0;
    }
}

@media (max-width:544px) {
    .hero-content{
        padding-left: 0;
        text-align: left;
    }
}


 @media (max-width:675px) {
     .process-inner {
    display: grid;
    grid-template-rows: repeat(2, 1fr)!important;
    gap: 20px;
}
        .footer-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.pro-title {
    text-align: left;
    padding-bottom: 60px;
}
}

@media (max-width:918px) {
    .process-inner{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
    }
}