@media (max-width:435px) {


     /* BANNER */

	.banner-img{
		background:rgb(0,0,0,0.2);
		 background-size:cover;
		padding:0;
        position: static;
		background-blend-mode:darken;

	 }
     .banner{
        display: flex;
		flex-direction: column-reverse;
     }
     .header{
        position: static;
     }
     .dark-logo{
        display: block;
     }
     .light-logo{
        display: none;
     }
	 .banner-content {
		display: flex;
		flex-direction: column;
		position: static;
		top: 0;
		left: 0;
		margin: auto;
		transform: translate(0,0);
        z-index: 1;

	 }
	 .banner-content h1{
		color: #000;
		font-weight: 300;
        font-size: 47px;
	 }
	 .banner-content p{
		color: gainsboro;
		line-height: 30px;
		font-weight: 400;
	 }
	.banner-content h3{
        color: black;
        font-weight: 100;
        padding: 10px 0;
    }

	 .banner img{
      height: 100%;
      object-fit: cover;
	}
.two-content {
    position: absolute;
    bottom: 38px;
    left: 0px;
    padding: 0 30px 10px 30px;
    z-index: 999;
    font-family: 'Rounded Mplus 1c';
    white-space: nowrap;
    font-size: 13px;
}

}

@media (max-width:790px) {
    .btn{
        display: none;
    }
	.header_unorderlist{
        display: none;
        position: absolute;
        top: 73px;
        left: 0;
        width: 100%;
        background-color:white;
        flex-direction: column;
        gap: 20px;
        padding: 20px 30px;
        z-index: 999;
        align-items: start;
        white-space: nowrap;
    }
    .shape-img{
        bottom: 0;
    }
    .footer-items .top-icons {
        text-align: left;
        gap: 20px;
    }
    .qoutes-img{
        display: none;
    }
    .header_unorderlist li {
        margin-top: 20px;
        text-align: center;
        display: block;
        color: black;
    }
    .header .menu-btn:checked ~ .header_unorderlist {
        display: flex;
    }
    .header .menu-icon {
        display: inline-block;
        color: white;
    }
    .header-a{
        color: whitesmoke;
    }
    .header-icons{
        margin-top: 190px;
    }
    a.btn-primary {
    margin-top: 30px;
    border: 1px solid black;
    color: black;
}
    .header_logos_image{
        display:none;
    }
    .header_logo_image{
        display: block;
    }
    .mini_header{
        display: none;
    }
    .header_options_a{
        color:var(--theme-color);
        font-size: 32px;
    }
    .header_anchor{
		display: block;
        background-color: var(--theme-green);
        border: none;
        transition: 0.3s all ease-in-out;


    }
    .header_anchor:hover{
       background-color: white;
       border: 1px solid var(--theme-color);
        transition: 0.3s all ease-in-out;
    }
    .header .menu-icon .navicon {
        background:black;
        display: block;
        height: 2px;
        position: relative;
        transition: background 1s ease-out;
        width: 18px;
    }
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background:black;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 1s ease-out;
        width: 100%;
    }
    .circle_card_inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

	.d-logo{
		display: block;
	}
	.logo{
		display: none;
	}
	 .navigation{
		background-color: transparent;
	 }
     .header-icons a{
        display: inline-flex;
        z-index: 9999;
       background-color: var(--theme-color);
       width: 50px;
       height: 50px;
       text-align: center;
       align-items: center;
       justify-content: center;
       margin: auto;
       border-radius: 50%;
       color: white;
       font-size: 20px;
       margin: 0 7px;
       transition: 0.3s all ease-in-out;
     }
     .header-icons a:hover{
        background-color:var(--theme-green);
        color: black;
         transition: 0.3s all ease-in-out;
     }





}

@media (max-width:730px) {
    /* HEADER */


    .header_unorderlist{
		display: none;
	}

    /* BEGAN */

	.inner{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
    }

/* THE PROCESS */


    .process-inner{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
    }

   /* TWO-COL-SECTION */

   .two-col-inner{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 20px;
   }



}


@media (max-width:475px) {


/* HEADER */


    .header .menu-icon .navicon{
        display: block;
    }


    /* THE PROCESS */


     .pro-title{
        text-align: left;
     }
    .process-inner{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
    }


    /* CARDS */

    .services-title{
        display: flex;
    flex-direction: column;
    text-align: start;
    align-items: self-start;
    }


}


@media (max-width:570px) {

    /* TOP-DIV */

   .div{
    display: none;
   }


}


@media (max-width:559px) {



}


@media (max-width:960px) {


    /* OUR-MISSON */

    .our_inner{
        display: inherit;
    }
    .our_right_section{
        position: static;
        width: 100%;
        width: calc(100% + 40px);
        margin-left: -20px;
        overflow: hidden;
    }
 }

 @media (max-width:590px) {

    /* FOOTER */
.get-in{
        display: flex;
        flex-direction: column;

    }

    .mapin{
        margin-left: 0;
    }
	 .footer-inner{
		display: grid;
		grid-template-columns:repeat(1 , 1fr);
		gap: 20px
	 }
        .services-inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr)!important;
    gap: 20px;
}
.services-items {
    margin-right: 0;
}
.content-swiper h3{
    font-size:26px;
}
.shape-img {
    position: absolute;
    right: 30%;
    top: -24%;
    object-fit: cover;
}

}

@media screen and (max-width: 768px){
    .card-wrapper{
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button{
        display: none;
    }
    .services-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
}