*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-color:#515A68;
    --theme-green:#BDE0D3;
    --theme-white:#fff;
}
.container{
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
}
body{
   font-family: 'Rounded Mplus 1c';
}
a{
    text-decoration: none;
    display: inline-block;
}
.d-none{
   display: none;
}
ul,ol{
    list-style: none;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}


 /* HEADER */

.div{
   background-color: #515A68;
   padding: 10px 0;
}
.div li{
   color: white;
   margin-left: 10px;
}
.top-left-section a{
   color: var(--theme-white);
   margin: 0 10px 0 0;
   font-size: 15px;
   transition:0.3s all ease-in-out
}
.top-left-section a:hover{
  color: var(--theme-green);
   transition:0.3s all ease-in-out
}
.top-icons  img{
   color:white;
   padding: 0 10px;
}
.top-icons img:hover{
   transform: scale(1.1);
}
.header_inner{
    display: flex;
    justify-content: space-between;
 align-items: center;
    /* padding: 30px 0; */

 }
 .header{
    padding: 16px 0;
    position: absolute;
    width: 100%;
    z-index: 999;


    /* background-color: whitesmoke; */
 }
 .header_unorderlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
 }
 .header-icons a{
   display: none;
}
 .header_logos_image{
    display: none;
 }
.header_options_a {
    color: var(--theme-white);
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}
.header_options_a:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
}
 .header_anchor{
    color: black;
    font-weight: 500;
    background-color:white;
    border: 2px solid grey;
    padding: 15px 30px;
    border-radius: 25px;
    transition: 0.3s all ease-in-out;

 }
 .header_anchor:hover{
   background-color: var(--theme-green);
      transition: 0.3s all ease-in-out;

 }
 .header .menu-btn {
    display: none;
 }
 .header .menu-btn:checked ~ .menu {
    max-height: 240px;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
 }
 .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
 }
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
 }
 .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: none;
 }
 .header .menu-icon .navicon {
    background: var(--theme-black);
    display: block;
    height: 2px;
    position: relative;
    transition: background 1s ease-out;
    width: 18px;
 }
 .icons-socia img{
     padding: 0 7px;
 }
 .icons-socia a:hover{
   color: var(--theme-green);

 }
 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
    background: var(--theme-black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 1s ease-out;
    width: 100%;
 }
 .header .menu-icon .navicon:before {
    top: 5px;
 }
 .header .menu-icon .navicon:after {
    top: -5px;
 }

.header_logo_image  img{
   max-width: 140px;
   height: 100%;
}

/* BTN-INFO */

.btn-primary{
    padding: 15px 45px;
    border: 1px solid var(--theme-white);
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
   color: var(--theme-white);
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;


}
.btn-primary:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-green);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-primary:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
    border: 1px solid transparent;
}
.btn-primary:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}

.button .btn-info{
   margin-right: 20px;
}
.buttons {
    text-align: center;
    margin-top: 20px;
}
.btn-info{
    padding: 15px 45px;
    margin-right: 20px;
    background-color: var(--theme-color);
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;
   color:white;
	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;
     white-space: nowrap;


}
.btn-info:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-green);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-info:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
    border: 1px solid black;
}
.btn-info:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}


/* BANNER */
.banner {
    height: 100%;
    width: 100%;
    position: relative;
       height: 100vh;
    display:block;
    min-height: fit-content;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.banner-img img{
   width: 100%;
   height: 100vh;
}
.banner-content{
   display: flex;
   /* align-items: center; */
   flex-direction: column;
   justify-content: center;
   position: absolute;
   z-index:99;
   top: 45%;
   left: 0;
   transform: translatey(-50%);
   margin-left: 40px;
}


.banner-img{
   position: absolute;
   height:100%;

}

.banner-content h1:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
}
.banner-content h1{
    color: aliceblue;
    font-size: 89px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: left;
    cursor: pointer;
}
.banner-content h3{
    color: aliceblue;
    font-size: 13px;
    font-weight: 300;
    /* padding-bottom: 10px; */

}
.banner-content p{
    color: rgb(234, 234, 234);
    word-spacing: 7px;
    padding-bottom: 60px;
    max-width: 600px;
    line-height: 30px;
    margin: auto;
}


/* BEGAN */

.began{
    padding: 30px 0;
}
.inner{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
.items{
    padding: 40px 0;
}
.title h2{
    font-weight: 500;
    font-size: 40px;
cursor: pointer;
transition: 0.3s all ease-in-out;
}
.title h2:hover{
transition: 0.3s all ease-in-out;
color: var(--theme-green);
}
.richtext{
    line-height: 30px;
    font-size: 15px;
    word-spacing:9px ;
    letter-spacing:2px;
    color: #515A68;
    font-weight: 300;
}


/* SLIDER FEEDBACK */
.swiper{
    width: 100%;
    height: 100%;


}

.feedback-section{
    background-color:var(--theme-color);
    padding: 50px 0;
    position: relative;

}
.qoutes-img{
   position: absolute;
   top: -20%;
   right: 25%;
   z-index: 999;
   /* background-color: pink; */
}
.qoutes-img  img{
   width: 345px;
  height: 1220px;
transform: matrix(-1, 0, 0, -1, 0, 0);
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  .content-swiper h4{
    color: whitesmoke;
    font-weight: 300;
    padding: 20px 0;
    font-size: 14px;
  }
  .content-swiper h3{
    color: whitesmoke;
    font-weight: 400;
    padding: 20px 0;
    font-size: 33px;
    max-width: 800px;
     font-family: 'Rounded Mplus 1c';
     cursor: pointer;;
  }
  .content-swiper h3:hover{
    color: var(--theme-green);
    transition: 0.3s all ease-in-out;
  }
  .content-swiper h5{
    color: whitesmoke;
    font-weight: 300;
    padding: 20px 0;
    word-spacing: 10px;
    letter-spacing: 1;
    font-size: 14px;
  }


/* .swiper-pagination-bullet {
      width: 3px;
      height: 35px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #000;
      opacity: 4;
      background: rgba(0, 0, 0, 0.2);
    } */

    .swiper-pagination-bullet-active {
      color: #fff;
      background: var(--theme-white);
    }
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom:40%;
    align-items: flex-end;
    gap: 10px;
   padding-right: 40px;
}
/* .qoutes-img img{
   width: 345px;
   height: 1220px;

} */

.swiper{
   position: relative;
}
  /* OUR-MISSON */


.our_inner{
    margin-top: 100px;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.our_left_section_heading{
    font-size: 14px;
    color:#2C3646;
    font-weight:300;
}
.our_left_heading{
    margin-top: 15px;
    color: #2C3646;
    font-weight: 400;
    font-size: 40px;
   font-family: 'Rounded Mplus 1c';
   transition: 0.3s all ease-in-out;
   cursor: pointer;
}
.our_left_heading:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
}
.our_right_section{
    position:absolute;
    right: 0;
    width: 50%;
    height: 100vh;
    max-height: 567px;
    color: #2C3646;
    margin-top: 60px;


}
.our_right_section img{
   width: 100%;
  height: 100vh;
   padding-top: 0;
}
.our-story{
    position: relative;
    padding: 13px 0 0 0;

}

.our_left_section_para{
    color:#2C3646;
    font-size: 16px;
    font-weight: 300;
    max-width: 500px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    margin-top: 25px;
    line-height: 30px;
    margin-bottom: 30px;
}
.our_right_section img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}


/* CARDS */

.team img {
    width:100%;
    cursor: pointer;
    transition: 0.3s;

}

#mask {
  display:none;
  position:fixed;
  z-index:100;
  background:rgba(0, 0, 0, 0.35);
  width:100%;
  height:100%;
}

.model {
  position:fixed;
  top:-350px;
  z-index:101;
  width:400px;
  padding:0px;
  color:#404040;
  text-align:left;
}

.model .constraint {
  background:#fff;
  padding:50px;
}


/* Styles for the Codepen */


/* SERVICES */

.services{
   margin: 230px 0 0 0;
   padding: 90px 0;
   background-color: #F8F8F8;
}
.services-inner{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.services-content{
   padding: 19px;
}
.services-items{
 box-shadow:0px 2px 20px 0px rgba(62,65,159,0.09);
  border-radius:5px;
  margin-right: 20px;
}
.services-img img{
  border-radius: 5px 5px 0 0;
  width: 100%;
  display: block;
  object-fit: cover;
  transition: 0.3s all ease-in-out;


}
.services-img img:hover{
   transform: scale(1.1);
   transition: 0.3s all ease-in-out;
}
.services-img{
  overflow: hidden;

}

.services-title{
   margin:20px 0 50px 0;
}
.services-title h4{
   color:#2C3646;
  font-weight:600;
  font-size: 37px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.services-title h4:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
}

.ri-arrow-right-line{
    background-color: #BDE0D3;
    padding: 10px;
    border-radius: 50%;
    color: #000;
   border:1px solid transparent;
   transition:0.3s all ease-in-out
}
.ri-arrow-right-line:hover{
   background-color: white;
      border:1px solid black;
      transition:0.3s all ease-in-out
}
.services-content h4{
  color:#2C3646;
  font-weight: 200;
  margin: 9px 0;
}
.services-content h5{
   color: #2C3646;
   font-size: 24px;
   font-weight: 600;
  margin-bottom: 9px;
   transition:0.3s all ease-in-out;
   cursor: pointer;
}
.services-content h5:hover{
    transition:0.3s all ease-in-out;
       color: var(--theme-green);

}
.services-heading {
   flex-grow: 1;
   text-align: left;
}
.services-title a{
    flex-shrink: 0;
}

.services-content p{
   color: rgba(44, 54, 70, 1);
   font-weight:300;
   line-height:1.9;
   margin-bottom: 10px;
}
.services-content img{
   padding: 10px ;
   border-radius: 50%;
   overflow: hidden;
    transition: 0.3s all ease-in-out;

}





/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    background: white;
    width: 60%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    position: relative;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

/* Modal Image */
.modal-body {
    display: flex;
    align-items: center;
}

.modal-image {
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

.modal-text {
    flex-grow: 1;
}

.team-items{
    box-shadow: 8px 8px 24px -14px rgb(189, 189, 192);
}
.services-content{
    padding: 20px
}
.services-content h4{
    color: #515A68;
    font-weight: 200;
    font-size: 15px;
}
.team-content h2{
    color: black;
    font-weight:600;
    font-size: 23px;
    padding:10px 0;
}
.services-content p{
    color: gray;
    font-weight: 300;
    line-height: 30px;
    word-spacing: 2px;
    padding-bottom: 10px;
}
.ri-arrow-right-line{
     background-color:#BDE0D3;
     padding: 10px;
     border-radius: 50%;
     color: black;
     margin:19px 0 0 0;
}

.model-inner-on{
   display: flex;
   justify-content: space-between;
   gap: 20px;
}
.model-img-on{
   width: 100%;
   height: 100%;
}
.model-content-on h5{
   color: #2C3646;
   font-weight: 200;
   font-size: 13px;
}
.model-content-on p{
   color: #404040;
   font-weight: 300;
}
 .modal {
            display: none;
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            width: 700px;
            height: 240px;
            margin: 0 auto;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        }

        .modal-close-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 20px;
            width: 50px;
            height: 50px;
         background-color: white ;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            /* height: 100%; */
            background-color: rgba(0, 0, 0, 0.3);
 }
 .model-content-on {
    padding: 10px 0;
}
 /* THE-PROCESS */

 .process{
    padding: 230px 0 70px 0;
 }

 .pro-title{
   text-align: center;
   padding-bottom: 60px;
 }
 .pro-title h2{
    font-size: 40px;
    padding-bottom: 20px;
    font-weight:500;
     font-family: 'Rounded Mplus 1c';
    transition: 0.3s all ease-in-out;
    cursor: pointer;
 }
 .pro-title h2:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .pro-title p{
    max-width: 650px;
    margin: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color:#515A68;
 }
 .process-inner{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    margin: auto;;

 }
 .process-items{
    text-align: center;
    margin: auto ;
 }
 .process-img{
    background-color: #BDE0D3;
    display: block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content:center;
    margin:  auto ;
    position: relative;
 }


 .content-process h3{
    font-size: 26px;
    font-weight:500;
    padding: 20px 0;
     font-family: 'Rounded Mplus 1c';
     transition: 0.3s all ease-in-out;
     cursor: pointer;
 }
 .content-process h3:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .content-process p{
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: rgb(172, 170, 170);
    max-width: 300px;
 }
 .num{
    background-color: #515A68;
    color: whitesmoke;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 1%;
    bottom: 1%;
     font-family: 'Rounded Mplus 1c';
       transition: 0.4s all ease-in-out;
       border: 1px solid transparent;
 }
 .num:hover{
   background-color: var(--theme-white);
   color: black;
   transition: 0.4s all ease-in-out;
   border: 1px solid black;
 }
 .button .btn-sucsess{

 padding: 15px 45px;


 }
 .button{
text-align: center;
    margin:auto;
    padding: 30px 0;
 }
 .btn-sucsess{
    padding: 15px 45px;
    margin-right: 20px;
    background-color: var(--theme-color);
     color:var(--theme-white);
	text-decoration:none;
	display:inline-block;
	position:relative;
	z-index:9;

	overflow:hidden;
    border-radius: 20px;
    font-size: 15px;


}
.btn-sucsess:before{
	content:'';
	width:100%;
	height:100%;
	background-color:var(--theme-green);
	position:absolute;
	top:100%;
	left:0;
    color:white;
    font-weight: 300;
	z-index:-1;
    transition: 0.3s all ease-in-out;


}
.btn-sucsess:hover{
    color: black!important;
    transition: 0.3s all ease-in-out;
}
.btn-sucsess:hover:before{
    top:0;
    transition: 0.3s all ease-in-out;
}


  /* TWO-COL-SECTION */

.two-col-section{
   margin: 150px 0 0 0 ;
}
 .two-col-inner{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
 }
 .two-content h3:hover{
   color: var(--theme-green);
   cursor:pointer;
   transition: 0.3s all ease-in-out;
 }
 .two-col-images{
    position: relative;
    overflow: hidden;

 }
 .two-col-images::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 99%;
   background-image: linear-gradient(  0deg,
    hsl(0deg 0% 1%) 0%,
    hsl(15deg 0% 0%) 50%,
    hsl(44deg 1% 6%) 63%,
    hsl(14deg 2% 17%) 72%,
    hsl(18deg 3% 55%) 81%,
    hsl(0deg 3% 54%) 100%
  );
   opacity:0.4;


}
 .two-content{
    position: absolute;
    bottom:0;
    left: 0;
    padding: 0 30px 10px 30px;
    z-index: 999;
      font-family: 'Rounded Mplus 1c';
 }
 .two-col-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
    transform: translateZ(10px)(10px);
    transform: translateY(-99px);
    z-index: 999;
}
 .two-content h3{
    color: whitesmoke;
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: 400;
 }
 .two-content h4{
    color: whitesmoke;
    padding-bottom: 20px;
    font-weight: 400;
 }
 .ri-arrow-right-line{
    background-color: #BDE0D3;
    padding: 9px;
    border-radius: 50%;
    margin-left: 10px;
    color: black;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
 }
  .ri-arrow-right-line:hover{
   background-color: white;
   border: 1px solid black;
       transition: 0.3s all ease-in-out;
  }


/* LOGOS-ALL */

.logos-all{
    margin: 90px 0;
 }
 .logos-all img{
    padding: 0 50px;
 }


/* FOOTER */


footer{
    background-color:var(--theme-color);
    padding: 30px 0;
 }
 .shape-img{
    position: absolute;
    right:30%;
    bottom: -23%;
    object-fit:cover;
 }
 .footer-inner{
    display:flex;
    justify-content: space-between;
    position: relative;
 }
 .mapin{
    margin-left: 80px;
 }
 .footer-items h3{
    font-size: 40px;
    font-weight: 500;
    color: whitesmoke;
    padding-bottom: 30px;
   font-family: 'Rounded Mplus 1c';
   cursor: pointer;
      transition: 0.3s all ease-in-out;
 }
 .footer-items h3:hover{
   color: var(--theme-green);
   transition: 0.3s all ease-in-out;
 }
 .footer-items h5{
    color: whitesmoke;
    font-weight: 400;

 }
 .footer-items li{
    padding-bottom: 30px;
 }
  .ri-phone-fill ,.ri-mail-unread-fill ,.ri-map-pin-2-fill{
 color: #515A68;
 background-color: #BDE0D3;
 padding: 10px;
 border-radius: 50%;
 margin-right: 14px;
 }
 .richtext-2{
    font-size: 18px;
    max-width: 200px;
    line-height: 29px;

 }
 .rich{
    font-size: 16px;
    color: var(--theme-white);
 }
  .rich:hover{
    color: var(--theme-green);
    transition: 0.3s all ease-in-out;
  }
 .sign-up h3{
    color: var(--theme-white);
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
       transition: 0.3s all ease-in-out;
 }
  .sign-up h3:hover{
   color: var(--theme-green);
      transition: 0.3s all ease-in-out;
  }
  form{
    position: relative;
 }
 form input{
    background-color:whitesmoke;
    border: none;
    outline: none;
    padding: 15px 99px 16px 10px;
    border-radius: 25px;
    width: 100%;
 }
 form button i{
    position: absolute;
    right: 1%;
    border: none;
    padding: 10px 9px;
    border-radius: 50%;
    top: 18%;
    transform: translateY(-80%);
    background-color: #BDE0D3;
 }
  form button:hover{
   background-color: var(--theme-white);
  }
  .icons-social img{
    color: whitesmoke;
    margin-right: 10px;
    transition: 0.3s all ease-in-out;

 }
 .footer-items .top-icons a{
    background-color: #a5a5a68a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
   display:inline-block;
    align-items: center;
    border-radius: 50%;


 }
 .footer-items .top-icons{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
 }
 .footer-items .top-icons a:hover{
    background-color: #BDE0D3;
    color: #000;
    transition: 0.3s all ease-in-out;
 }
.copyright{
   text-align: end;
   padding-top: 20px;
}
.copyright h3{
   color: #FFFFFF;
   font-size: 12px;
   font-weight: 200;
}